@import url("https://fonts.googleapis.com/css2?family=Itim:wght@400&display=swap");

/* Sign Up container */
.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    background-color: #fff;
    margin: 70px auto;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 40px;
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.1);
    font-family: itim;
  }
  
  /* Sign Up Title */
  .register-container h1 {
    font-weight: 400;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    font-family: itim;
  }
  
  /* Form Label */
  .register-container label {
    display: block;
    margin-bottom: 2px;
    padding-left:10px;
    font-family: itim;
  }
  
  /* Form Input */
  .register-container input[type="text"],
  .register-container input[type="password"],
  .register-container input[type="number"] {
    width: 310px;
    padding: 10px;
    border: 2px solid #ccc;
    background-color: whitesmoke;
    border-radius: 30px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  
  /* Submit Button */
  .register-container button[type="submit"] {
    font-family: itim;
    font-size: 30px;
    width: 310px;
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease all;
    margin: auto;
    display: block;
  }
  
  /* Submit Button on hover */
  .register-container button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  /* Link */
  .register-container p {
    font-family: itim;
    font-size: 18px;
    display: flex;
    justify-content: center;
  }

  .register-container p a {
    font-family: itim;
    color: #4CAF50;
    text-decoration: none;
    transition: 0.3s ease all;
  }
  
  /* Link on hover */
  .register-container p a:hover {
    color: #3e8e41;
  }